@import '~antd/dist/antd.css';

.ant-card-meta-title #sdf{

  white-space: normal;
}

.chat-bot-header {
  background-color: aquamarine;
  /* z-index: 99999;
  position: absolute; */
}


.site-layout-content {
  min-height: 100vh;
  width: '100%';
  overflow: "auto" ;
  padding: 24px;
  /* background: #fff; */
  background: rgba(255, 255, 255, 0.3);
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  /* background: #fff; */
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
